.blonk {
      animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

body {
  background-color: black;
  color: white;
  font-family: Terminal, monospace;
  font-size: 20px;
}

.screen {
  background-color: #0000a0;
  width: 800px;
  height: 600px;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 5%;
}

.centerbox {
  margin-top: 270px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #fff850;
  background-color: #a00000;
}